{% extends 'base.html' %}

{% block content %}
<div class="auth-page">
    <div class="auth-box small-auth">
        <h1>Forgot Password</h1>

        <form method="POST">
            <label>Registered Email:</label>
            <input type="email" name="email" placeholder="Enter your registered email" required>

            <button class="auth-btn" type="submit">Send Code</button>
        </form>

        <p><a href="{{ url_for('login') }}">Back to Login</a></p>
    </div>
</div>
{% endblock %}